<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Nuevo Docente</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2 class="mb-4">

Registrar Docente

</h2>

<form method="POST"

enctype="multipart/form-data">

{% csrf_token %}

{{ form.as_p }}

<button class="btn btn-success">

Guardar

</button>

<a href="{% url 'lista_docentes' %}"

class="btn btn-secondary">

Cancelar

</a>

</form>

</div>

</body>

</html>